<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= settings.application_name %>
  </title>
  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="app-container">
    <%= render "header" -%>
    <%= render "navigation" -%>
    <div class='overlay'></div>
    <main class="main-content" role="main">
      <%= yield %>
    </main>
  </div>

  <%= render "flashes" -%>
  <%= render "javascript" %>
</body>
</html>
