<table class="collection-data" aria-labelledby="page-title">
  <thead>
    <tr>
      <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
        <th class="cell-label
        cell-label--<%= attr_type.html_class %>
        cell-label--<%= collection_presenter.ordered_html_class(attr_name) %>
        " scope="col">
          <%= t(
            "helpers.label.#{resource_name}.#{attr_name}",
            default: attr_name.to_s,
          ).titleize %>
        </th>
      <% end %>
      <% actions = [valid_action?(:edit), valid_action?(:destroy)] %>
      <% actions.count(true).times do |index| %>
        <% if index == actions.count - 1 && valid_action?(:new) %>
          <th>
            <%= link_to [:new, namespace, collection_presenter.resource_path], class: 'button' do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </th>
        <% else %>
          <th scope="col"></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody class="sortable"
         data-sort-url="<%= polymorphic_path([:sort, namespace, resource_name.to_s.pluralize]) %>">
    <% resources.each do |resource| %>
      <tr data-id="<%= resource.id %>"
          class="table__row"
          tabindex="0"
          <%= %(role=link data-url=#{polymorphic_path([namespace, resource])}) if valid_action? :show -%>
          >
        <% collection_presenter.attributes_for(resource).each do |attribute| %>
          <td class="cell-data cell-data--<%= attribute.html_class %>">
            <a href="<%= polymorphic_path([namespace, resource]) -%>"
               class="action-show table__link-plain"
               >
              <%= render_field attribute %>
            </a>
          </td>
        <% end %>

        <% if valid_action? :edit %>
          <td><%= link_to(
            t("administrate.actions.edit"),
            [:edit, namespace, resource],
            class: "action-edit",
          ) %></td>
        <% end %>

        <% if valid_action? :destroy %>
          <td><%= link_to(
            t("administrate.actions.destroy"),
            [namespace, resource],
            class: "table__action--destroy",
            method: :delete,
            data: { confirm: t("administrate.actions.confirm") }
          ) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>