<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% page.attributes.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <div class="form-actions">
    <button class='btn btn-raised ripple' type='submit'><%= t('submit', scope: %w(admin form)) %></button>
  </div>
<% end %>
